// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



h1{
  display: block;

  margin: 17.42px auto;
}

body{
  margin: 33px;
}

p{
  display: block;
 margin: 33px;
}

